.resultGifDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 5px 5px 5px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
}

.resultGifDiv > img {
    height: 200px;
}

.searchGifButtons {
    margin: 0;
}

.favButton {
    margin: 5px 0;
}

button {
    background-color: #ccc5b9;
    border-radius: 7px;
    box-shadow: 0 0 3px #252422;
    border: none;
    cursor: pointer;
    border: 1px solid #252422;
}

button:hover {
    box-shadow: 0 0 3px #f75c03;
    scale: 110%;
}

input {
    background-color: #fffcf2;
    box-shadow: 0 0 3px #252422;
    border: 1px solid #f75c03;
}